/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --titles-weight: 700;
  --text-weight: 400;
  --background-color: #fff;
  --accent-text: #000;
  --border: #000;
}
