/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background-color: #fff;
  --like-text-color: #fff;
  --accent-text: #000;
  --titles-weight: 700;
  --text-weight: 400;
  --border: #000;
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --button-hover: rgba(0, 0, 0, .6);
  --contour-color: #000;
  --heart-main-body-color: rgba(255, 0, 0, 1);
  --first-gradient-color: #d3d3d3;
  --second-gradient-color: transparent;
  --third-gradient-color: #e7e7e7;
  --fourth-gradient-color: #1a1a1a;
  --background-image: 
  repeating-linear-gradient(
    to left,
    var(--first-gradient-color),
    var(--first-gradient-color) 2px,
    var(--second-gradient-color) 2px,
    var(--second-gradient-color) 4px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--third-gradient-color),
    var(--third-gradient-color) 2px,
    var(--second-gradient-color) 2px,
    var(--second-gradient-color) 4px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--third-gradient-color) 0.01%,
    var(--fourth-gradient-color)
  );
}
